body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

#game-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    height: 100vh;
    width: 100vw;
    border: 2px solid #000;
    background-image: url("./../mascota-imagen/fondo-hamster.jpg");
    background-size: cover;
    background-position: centers;
    position: relative;
    overflow: hidden;
    color: azure;
    text-shadow: 
    -2px -1px 0 black,  
    1px -2px 0 black,  
    -2px  2px 0 black,  
    2px  2px 0 black;

}

#mascota{
    position: absolute;
    left: 100px;
    top: 300px;
    width: 200px;
    transition:  transform 0.1s;
}

#mascota:active{
    transform: scale(1.05);
}

#fruta{
    position: absolute;
    width: 100px;
    height: 110px;
    pointer-events: none;
    transition: transform 0.3s;
}

#fruta:hover{
    transform: rotate(15deg) scale(1.1);
}

#hud{
    margin: 8px 0;
    font: 600 18px/1.2 system-ui, Arial, sans-serif;
}

#mensaje{
    margin-top: 20px;
    font-size: 1.5em;
    color: #ffffff;
}

#energia-container{
    width: 250px;
    height: 30px;
    border: 2px solid black;
    background-color: #55350b;
    margin: 7px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
}

#energia-barra{
    height: 100%;
    width: 100%;
    background-color: #e28d1e;
    transition: width 0.3;
    color: #f0f8ff;
}