body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

#game-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    height: 100vh;
    width: 100vw;
    border: 2px solid #000;
    background-image: url("./../mascota-imagen/ocean-3605547_1920.jpg");
    background-size: cover;
    background-position: centers;
    position: relative;
    overflow: hidden;
    color: azure;
}

#mascota{
    position: absolute;
    left: 100px;
    top: 300px;
    width: 200px;
}

#fruta{
    position: absolute;
    width: 100px;
    height: 110px;
    pointer-events: none;
}

#hud{
    margin: 8px 0;
    font: 600 18px/1.2 system-ui, Arial, sans-serif;
}

#mensaje{
    margin-top: 20px;
    font-size: 1.5em;
    color: #ffffff;
}